*{
    background-color: rgb(233, 209, 75);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* We use @media to query the parameters related with 
this device such as its screen width and height etc */
 
/* The following media query means that if the width of
the screen is less than 400px, new background and font
will be applied */
@media screen and (width < 400px) {    
    *{
        background-color: aqua;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

@media screen and (width < 650px) {    
    *{
        background-color: aqua;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

@media screen and (width < 950px) {    
    *{
        background-color: aqua;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}