*{    
    font-family: fantasy;
    /*
    in order to make our text more responsive to size change of the viewport,
    we have to use a relative unit not absolute unit like px.
    In this case, we use the viewport as our unified reference.
    2vw is iqual to 2% of the width of the viewport
    vw stands for viewport width
    */
    font-size: 1vw;
    background-color:rgb(48, 230, 160);
}

div{
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: rgb(0, 132, 255) 8px 8px;
    padding: 10px;
    margin: 1vw;
    transition: transform 0.3s ease;
    position: sticky;
}

div:hover {
    transform: scale(1.03);
    box-shadow: 10px 10px 20px white;
}

h2{
    background-color: chartreuse;
    border: 2px solid black;
    width: fit-content;
    position: sticky;
    padding: 4px;
    /*
    The following four parameters are used to control the 
    position of this element with respect to the viewport
    */
    /*
    The position of the top border of this element relative to the viewport
    */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: auto;
}
